* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f1f1f1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 6px -10px #777;
  height: 90px;
  font-size: 1.5rem;
}

.main-game {
  background: #fff;
  /* margin: 40px; */
  padding: 40px;
  border-radius: 10px;
  height: auto;
  max-width: 700px;
  margin: 30px auto;
}

.players-status-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #ddd; */
  height: 50px;
  border-radius: 10px;
  font-size: 1.6rem;
  max-width: 480px;
  margin: 0 auto;
}

.players-status-bar > p:nth-child(2) {
  font-weight: bold;
  font-size: 1.8rem;
}

.container {
  /* background: #ddd; */
  margin: 30px auto;
  max-width: 400px;
  padding: 30px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  /* background: #888; */
}

.game-box {
  padding: 25px;
  /* background: #ddd; */
}

.border-right {
  border-right: 2px solid #000;
}

.border-bottom {
  border-bottom: 2px solid #000;
}